<head>
    <titl>Account</titl>
    <link rel="stylesheet" href="/css/account.css"/>
</head>
<main class="account-page">
    <section >
        <div class="flex">
            <h1>{{username}}</h1>
            <i class="fa-solid fa-user-gear"></i>
        </div>

        <article id="create-tip">
            <form>
                <div class="flex">
                <h2>Add a tip from your Hive Mind 💬</h2>
{{!-- <i class="fa-solid fa-user-gear"></i> --}}
                </div>
                <label for="new-tip"></label>
                <textarea id="new-tip" placeholder='Ex. "Goodness would be stale without the bad"'></textarea>

                <button type="submit" id="account-newpost">Create</button>
            </form>
        </article>
    </section>
    <section>
        <h2>Past Tips 🗒</h2>

            {{> account-posts}}

    </section>
</main>
<script src="/js/account.js"></script>