 <head>
       <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
 <link rel="stylesheet" href="/css/homepage.css"/>
    </head>
<main>
 
  <div class="row-12 w-100" id="rowcard">
    <div class="col-md-auto">
      <div class="container" id="containercard" >
        {{!-- <img src="https://images.unsplash.com/photo-1556139943-4bdca53adf1e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80" style="position:absolute; z-index: -1; width: 50vw; height: 55vh; filter: blur(3px); -webkit-filter: blur(3px);" alt="test" /> --}}
        <h3 class="card-header" id="headcard">Welcome to HiveMind</h3>
        <div class="card-body" id="bodycard">
        <div class="card-text" style="font-size: 3rem" id="textcard">
          
                  {{> weekly-quote}}

          <!-- Positive notes and good vibes. Talk to a community that cares. --> 
        </div>
        <p class="card-text" id="cardtxt">
          Join a community that cares as much as you do. 
        </p>
        <p class="card-text" id="cardtxt">
          Login to gain access to daily tips and much more!    
        </p>
          <!-- Button trigger modal -->

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content bg-dark">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">New tip</h5>
                </div>
                </form>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" id="saveProj">Post Tip</button>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>



    </div>
  </div>
  </div>
</main>
<script src="/js/landing.js"></script>
