<main>

    
  <div class="row-12 w-100" id="rowcard">
    <div class="col-md-auto">
      <div class="container" id="containercard" style="max-width: 18rem;">
        <h3 class="card-header" id="headcard">Welcome to HiveMind</h3>
        <div class="card-body" id="bodycard">

        <p class="card-text" id="textcard">" 
            <br>about mind spark - blah  blah blah  blah blah blah blah blah 
            blah blah blah blah blah blah blah blah blah blah blah blah blahbl halbahlbalhlbahla 
            <br>
        </p>
        <p class="card-text">Login to gain access to daily tips and much more!
              
        </p>
          <!-- Button trigger modal -->

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content bg-dark">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">New tip</h5>
                </div>
                </form>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" id="saveProj">Post Tip</button>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>



    </div>
  </div>
  </div>
</main>