<main>
    <h1></h1>
    <figure>
        <figcaption>
            <p>hello</p>
        </figcaption>
        <img src="https://ca-times.brightspotcdn.com/dims4/default/ee0661e/2147483647/strip/true/crop/2000x1333+0+0/resize/2000x1333!/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F8e%2Fb7%2F99beae9a4be0bbced1487b04b619%2Fla-hm-nyny-mental-health.jpg" alt="mental health brain, with community hands helping"/>

    </figure>
</main>