<main id="login-page">
  <section class="login-signup">
  <article id="sign-in">
    <h2>Login</h2>
    <form class="login-form">
      <label for="email-login">Email:</label>
      <input type="input" id="email-login" placeholder="jdoe@gmail.com"/>


      <label for="password-login">Password:</label>
      <input type="password" id="password-login"/>

      <button type="submit">Submit</button>
    </form>
  </article>

  <article id="sign-up">
    <h2>Sign Up</h2>
    <form class="signup-form">
       <label for="new-user">Username:</label>
      <input type="input" id="new-user" placeholder="johnDoe123"/>
      <label for="new-email">Email:</label>
      <input type="input" id="new-email" placeholder="jdoe@gmail.com"/>


      <label for="new-password">Password:</label>
      <input type="password" id="new-password"/>

      <button type="submit">Submit</button>
    </form>
  </article>
</section>
</main>
<script src="./js/login.js"></script>



