<main id="login-page">
  <section class="login-signup">
  <article id="sign-in">
    <h2>Sign In</h2>
    <form>
      <label for="email">Email:</label>
      <input type="input" id="email" placeholder="jdoe@gmail.com"/>


      <label for="email">Password:</label>
      <input type="password" id="email"/>

      <button type="submit">Submit</button>
    </form>
  </article>

  <article id="sign-up">
    <h2>Sign Up</h2>
    <form>
       <label for="new-user">Username:</label>
      <input type="input" id="new-user" placeholder="johnDoe123"/>
      <label for="email">Email:</label>
      <input type="input" id="new-email" placeholder="jdoe@gmail.com"/>


      <label for="email">Password:</label>
      <input type="password" id="email"/>

      <button type="submit">Submit</button>
    </form>
  </article>
</section>
</main>
<script src="./js/login.js"></script>



