<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/login.css" />
</head>
  <main id="login-page">
    <section class="login-signup">
    <article id="sign-in">
      <h2>Login</h2>
      <form class="login-form">
        <label for="email-login">Email:</label><br>
        <input type="input" id="email-login" placeholder="jdoe@gmail.com"/>
  <br>
  
        <br><label for="password-login">Password:</label> <br>
        <input type="password" id="password-login"/>
  
     <br>  <button type="button" id="login-button">Submit</button>
      </form>
    </article>
  
    <article id="sign-up">
      <h2>Sign Up</h2>
      <form class="signup-form"><br>

        <label for="new-user">Username:</label><br>
        <input type="input" id="new-user" placeholder="johnDoe123" /><br>
        <br> <label for="new-email">Email:</label> <br>
        <input type="input" id="new-email" placeholder="jdoe@gmail.com" /><br>


        <br> <label for="new-password">Password:</label><br>
        <input type="password" id="new-password" />
        <section>
        <label>Enter Captcha:</label>
        
          <div class="form-group col-md-3">
            <input type="text" class="form-control" readonly id="capt">
          </div>
          <div class="form-group col-md-1">
            <input type="text" class="form-control" id="textinput">
          </div>
      
        <h6>Captcha not visible? <img onclick="cap()"src="./imgs/refersh.png" width = "40px"></h6>
        <br> <button onclick="validcap()" type="button" id="signup-button">Submit</button>
        </section>

      </form>
    </article>
  </section>
  </main>
<script src="/js/login.js"></script>
  
  
  