



 

             
            

               
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/profile.css" />
    <link rel="stylesheet" href="/css/profilepage.css" />
</head>
   <div class="search-wrapper">
    <div class="input-holder">
        <input type="text" class="search-input" placeholder="Type to search" />
        <button class="search-icon" onclick="searchToggle(this, event);"><span></span></button>
    </div>
    <span class="close" onclick="searchToggle(this, event);"></span>
</div>  
<button id="btn2">Bring me back!</button>
<button id="btn1">Show me cute dogs</button>
 
 <main>
   
<div class="container-fluid text-center">    

  <div class="row content">

   
    <div class="col-sm-8 text-left"> 
    <div class="a" id="welcomemsg-quote"> 
      <h1>
        <a  id="welcometype" class="typewrite" data-period="2000" data-type='[ "Welcome!", "Username!", "This is the HiveMind Landing page", "Search and favourite tips from other community members!" ]'>
          <span class="wrap"></span>
        </a>
      </h1>
      </div>
      <h3>Quote of the day!</h3>
      {{> daily-quote}}
      <h3>The Hive Head</h3>
      {{> all-posts}}

    </div>
   
  </div>
</div>


</main>
 <center id="divmovie">
<button onClick="getRandomImage()">Click for a random image</button><br />
<br />
<img id="dogImage" src="https://dog.ceo/img/dog-api-logo.svg">
 
<!-- Main table for the snake -->



</center>         
<script src="/js/landing.js"></script>
<script src="/js/script.js"></script>
<script src="/js/profilepage.js"></script>