



 

             
            

               
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/profile.css" />
    <link rel="stylesheet" href="/css/profilepage.css" />
</head>
<button id="btn2">Bring me back!</button>
<button id="btn1">Show me cute dogs</button>
 <main>
   
<div class="container-fluid text-center">    

  <div class="row content">

    <div class="col-sm-2 sidenav">
    <section class="navbar-section">
         
              <input id = "tags" class="form-input"type="text" placeholder="Search for a tip">
              <button class="c-hand" id="searchBtn" type="button" id="button-addon2" data-toggle="modal"><i class="far fa-search"></i></button>
 
      <br>Search History:<br>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
    </div>
    <div class="col-sm-8 text-left"> 
      <h1>Welcome</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <hr>
      <h3>Quote of the day!</h3>
      {{> daily-quote}}
      <h3>The Hive Head</h3>
      {{> all-posts}}

    </div>
    <div class="col-sm-2 sidenav">
Favourited Tips:
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>HiveMind</p>
</footer>
</main>
 <center id="divmovie""">
<button onClick="getRandomImage()">Click for a random image</button><br />
<br />
<img id="dogImage" src="https://dog.ceo/img/dog-api-logo.svg">
 
<!-- Main table for the snake -->



</center>         
<script src="/js/landing.js"></script>
<script src="/js/script.js"></script>
<script src="/js/profilepage.js"></script>