<section id="dashboard-posts">
    {{#each formattedTips as |tip|}}
    <article class="dashboard-tip">
        <p class="tip-quote">
            {{tip.tip}}
        </p>
        <div>
            <p class="tip-username">
                - {{tip.userName}}
            </p>
            <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>

            <script>
                function myFunction(x) {
                    x.classList.toggle("fa-thumbs-down");
                }
            </script>
        </div>


    </article>
    {{/each}}
</section>