<section id="dashboard-posts">
    {{#each formattedTips as |tip|}}
    <article class="dashboard-tip">
        <p class="tip-quote">
            {{tip.tip}} 
        </p>
        <div>
            <p class="tip-username"> 
                - {{tip.userName}}
            </p>
            
            <form class="vote-up">
                <button type="submit">Vote Up</button>
            </form>
            |
            <form class="vote-down">
                <button type="submit">Vote Down</button>
            </form>

        </div>
    

    </article>
    {{/each}}    
</section>