<section id="dashboard-posts">
    {{#each formattedTips as |tip|}}
    <article class="dashboard-tip" data-tip-id="{{tip.id}}">
        <p class="tip-quote">
            {{tip.tip}}
        </p>
        <div>
            <p class="tip-username">
                - {{tip.userName}}
            </p>

            
            <p class="upvote" style="cursor: pointer;">
                ⬆️  {{tip.votes}}
            </p>
        </div>

    </article>
    {{/each}}
</section>