<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HiveMind</title>
    <link rel="stylesheet" href="/css/jass.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/login.css"/>
    <link rel="stylesheet" href="/css/landing.css"/>



</head>
<body>
    <header>
        <nav>
            <h1>Hive Mind</h1>
            <ul>
                <a href="/login">
                    <li>
                        Login
                    </li>
                </a>
                    {{#if logged_in}}
                        <button class="btn" id="logout">logout</button>
                    {{/if}}
            </ul>
        </nav>
    </header>
        {{{body}}}
            {{#if logged_in}}
                <script src="/js/logout.js"></script>
            {{/if}}
</body>
</html>