.account-page {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  width: 80vw;
}

.account-page > section,
section article {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}
section article {
  align-self: center;
}

section #create-tip {
  padding: 1em;
}

#create-tip {
  background-image: linear-gradient(30deg, #6649b8, #2892d7);
  border-radius: 10px;
  box-shadow: 0 3px 3px 3px #23232e;
}

h2 {
  padding: 0;
  margin: 0;
}
article form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  row-gap: 0.5em;
}
textarea {
  padding: 0.5em;
}
article form,
button {
  color: white;
}
form button {
  width: max-content;
  padding: 0.5em;
  font-weight: 500;
  background-color: #2892d7;
  border-radius: 5px;
}

.flex {
  display: flex;
  align-items: baseline;

  column-gap: 1em;
}
.flex i {
  font-size: 3rem;
  justify-self: center;
}

#past-tips {
  justify-self: center;
  column-gap: 2em;
  row-gap: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 3em;
}

#past-tips > article {
  flex: 1 1 15em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  row-gap: 0;
  height: fit-content;
  justify-content: flex-start;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 3px 0 var(--bg-primary);
}

#past-tips > article > i {
  font-size: 3rem;
  align-self: center;
  padding-bottom: 0.5em;
  cursor: pointer;
}
.tip-quote {
  width: 100%;
}

.tip-quote {
  padding: 1em;

  background-color: #c3c9e9;
}

.tip-footer {
  flex: 1 1 50%;
  margin-top: -1em;
  padding: 0.25em 1em;
}

@media screen and (max-width: 600px) {
  #create-tip,
  #create-tip form {
    width: 100%;
  }
}
