:root {
  --btn-prime-color: #004777;
}
#login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 2em 0;
}
.login-signup {
  display: flex;
  flex-wrap: wrap;
  /* width: 80vw; */
  border: solid var(--bg-primary) 3px;
  box-shadow: 0 5px 5px 5px var(--btn-prime-color);
  border-radius: 5px;
  column-gap: 2em;
  /* justify-content: center; */
}
.login-signup article {
  padding: 2em;
}
.login-signup article:first-of-type {
  background-color: var(--bg-primary);
  color: white;
  flex: 1 1 20%;
}
.login-signup article:last-of-type {
  flex: 1 1 20%;
}
.login-signup form {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.login-signup input,
.login-signup button {
  padding: 0.5em;
  border-radius: 5px;
}

.login-signup input {
  width: 30vw;
}

.login-signup button {
  align-self: baseline;
  justify-self: center;
  background-color: var(--btn-prime-color);
  color: white;
  font-weight: 500;
}

@media screen and (max-width: 700px) {
  #login-page {
    height: 100vh;
    padding: 5em 2em;
  }
  .login-signup article {
    padding: 1em;
    row-gap: 0;
    flex: 1 1 100%;
  }
  .login-signup form {
    padding: 0;
    row-gap: 0;
  }
  .login-signup input {
    width: 60vw;
  }
}
